gitpush/src/main/mule/gitpush.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e4c8db9-8ead-49cb-950d-a8b73bd08c98" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitpushFlow" doc:id="53862f57-6795-44b6-83a8-6ee2fca36a0e" >
		<http:listener doc:name="Listener" doc:id="2a761619-4347-42ee-b0d1-348a0e24e198" config-ref="HTTP_Listener_config" path="/git"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="09d4a373-38c3-4caf-88e6-9443fb7c545a" variableName="payload"/>
	</flow>
</mule>
